<html>

<body>

<form action="/" method="POST" name="osero">
    <table border="1">
    [%- FOREACH block_line = osero.get_board %]
        <tr>
        [% xcount=loop.count %]
        [%- FOREACH block = block_line %]
            <td width='20' height='20'>
            [%- IF block == 0 -%]
                [%- IF osero.can_drop(xcount - 1 , loop.count - 1) -%]
                    <a href="javascript:void(0)" onclick="document.getElementById('now_pos').value = '[% xcount %]:[% loop.count %]'; document.osero.submit();return false;"> &nbsp;&nbsp;&nbsp;</a>
                [%- ELSE -%]
                    &nbsp;
                [%- END -%]
            [%- ELSIF block == 1 -%]
                ○
            [%- ELSE -%]
                ●
            [%- END -%]
            <input type="hidden" name="[% xcount %]:[% loop.count %]" value="[% block %]">
            </td>
        [%- END %]
        </tr>
    [%- END %]
    </table>

    [%- UNLESS osero.can_drop -%]
    <br />
    <a href="javascript:void(0)" onclick="document.osero.submit();return false;">パス</a> 
    <br />
    [%- END -%]

    <input type="hidden" id="now_pos" name="now_pos" value="">
    <input type="hidden" id="now_pos" name="turn" value="[% osero.get_turn %]">
</form>

</body>

<p>
    [% mess %]
<p>

</html>
